.text-area-description {
  width: 90%;
  padding: 1rem 0 0 0;
  height: 160px;
}

.submit-button-container {
  width: 100%;
  padding: 1rem;
}

.submit-button-styles {
  float: right;
}

.required-action {
  font-weight: 700;
  color: #2f973e;
}

@media screen and (min-width: 769px) {
  .results-table-styles {
    display: block;
  }

  .results-grid-styles {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .results-table-styles {
    display: none;
  }

  .results-grid-styles {
    display: block;
  }
}

.card-list-item {
  height: 160px;
}

.padding-col-styles {
  padding-bottom: 10px;
  padding-top: 10px;
}

.remove-link {
  color: #2f973e;
  padding: 0.5rem 0;
}
