<div class="container" style="margin-top: 6.5rem !important" *ngIf="!loading">
  <h3>Employee list</h3>
  <p>All the active employees of the company at the moment.</p>
  <p>
    You can search for employees either by their name, position or even their
    skills.
  </p>
  <p>
    You can either delete employees one by one or delete multple employees by
    selecting the ones you want using the checkbox next to the First Name column
    and then pressing Delete Selected Employees button.
  </p>
  <br />
  <div>
    <form
      #form="ngForm"
      class="form-inline mb-3"
      (ngSubmit)="submitSearch()"
      autocomplete="off"
    >
      <div class="form-group form-group-responsive">
        <input
          type="text"
          class="form-control filter-input"
          name="minAge"
          placeholder="Search employees..."
          [(ngModel)]="filterValue.searchValue"
        />
      </div>
      <button
        [disabled]="checkFilters()"
        type="button"
        class="btn btn-info filter-action form-group-button-reset-filter-responsive"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>
      <button
        class="btn btn-primary filter-action form-group-button-filter-action-responsive"
        type="submit"
      >
        Apply Filters
      </button>
      <button
        class="btn btn-info employee-action form-group-button-add-action-responsive"
        type="button"
        [routerLink]="'/employees/addNewEmployee'"
      >
        Add New Employee
      </button>
      <button
        [disabled]="checkSelectedRecords()"
        class="btn btn-danger employee-action form-group-button-multiple-delete-responsive"
        type="button"
        (click)="deleteMultipleEmployees()"
      >
        Delete Selected Employees
      </button>
    </form>
  </div>
  <div class="results-table-styles">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col" (click)="orderBy('FirstName')">
            <div class="clickable-header-styles">
              <div>First Name</div>
              <div class="ml-3" *ngIf="filterValue.sortColumn === 'FirstName'">
                <i
                  [ngClass]="
                    filterValue.sortDirection === 'ASC'
                      ? 'fa fa-sort-up'
                      : 'fa fa-sort-desc'
                  "
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </th>
          <th scope="col" (click)="orderBy('LastName')">
            <div class="clickable-header-styles">
              <div>Last Name</div>
              <div class="ml-3" *ngIf="filterValue.sortColumn === 'LastName'">
                <i
                  [ngClass]="
                    filterValue.sortDirection === 'ASC'
                      ? 'fa fa-sort-up'
                      : 'fa fa-sort-desc'
                  "
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </th>
          <th scope="col" (click)="orderBy('HiringDate')">
            <div class="clickable-header-styles">
              <div>Hiring Date</div>
              <div class="ml-3" *ngIf="filterValue.sortColumn === 'HiringDate'">
                <i
                  [ngClass]="
                    filterValue.sortDirection === 'ASC'
                      ? 'fa fa-sort-up'
                      : 'fa fa-sort-desc'
                  "
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </th>
          <th scope="col" (click)="orderBy('JobTitle')">
            <div class="clickable-header-styles">
              <div>Job Title</div>
              <div class="ml-3" *ngIf="filterValue.sortColumn === 'JobTitle'">
                <i
                  [ngClass]="
                    filterValue.sortDirection === 'ASC'
                      ? 'fa fa-sort-up'
                      : 'fa fa-sort-desc'
                  "
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="employeeList.length == 0">
          <td class="text-center" colspan="5">There are no employees</td>
        </tr>
        <ng-container *ngIf="employeeList.length > 0">
          <tr *ngFor="let employee of employeeList">
            <td>
              <input
                type="checkbox"
                class="btn-check"
                [(ngModel)]="employee.checked"
              />
            </td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.hiringDate | date: "dd/MM/YYYY" }}</td>
            <td>{{ employee.jobTitle }}</td>
            <td>
              <div style="display: flex">
                <div style="margin: 0 0.5rem">
                  <button
                    class="btn btn-primary employee-action-button"
                    [routerLink]="'/employees/' + employee.employeeID"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="results-grid-styles">
    <div class="text-center" *ngIf="employeeList.length == 0">
      There are no employees
    </div>
    <div class="row" *ngIf="employeeList.length > 0">
      <div
        class="col-sm-6 col-xs-12 padding-col-styles"
        *ngFor="let employee of employeeList"
      >
        <div class="card card-list-item">
          <div class="card-header">
            {{ employee.firstName + " " + employee.lastName }}
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2">{{ employee.jobTitle }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">
              Hired on {{ employee.hiringDate | date: "dd/MM/YYYY" }}
            </h6>
            <a [href]="'/employees/' + employee.employeeID" class="card-link"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
