<div class="card employee-card-styles" *ngIf="!loading">
  <h5 class="card-header">{{ header }}</h5>
  <div class="card-body">
    <form
      #form="ngForm"
      class="form-inline mb-3"
      (ngSubmit)="saveEmployee()"
      autocomplete="off"
    >
      <app-text-input
        [inputID]="'FirstName'"
        [formControl]="employeeDetailsForm.controls['FirstName']"
        [label]="'First Name'"
      ></app-text-input>
      <app-text-input
        [inputID]="'LastName'"
        [formControl]="employeeDetailsForm.controls['LastName']"
        [label]="'Last Name'"
      ></app-text-input>
      <app-text-input
        [inputID]="'Email'"
        [formControl]="employeeDetailsForm.controls['Email']"
        [label]="'Email'"
        type="email"
      ></app-text-input>
      <app-text-input
        [inputID]="'JobTitle'"
        [formControl]="employeeDetailsForm.controls['JobTitle']"
        [label]="'Job Title'"
      ></app-text-input>
      <app-date-input
        [inputID]="'DateOfBirth'"
        [formControl]="employeeDetailsForm.controls['DateOfBirth']"
        [label]="'Date Of Birth'"
      ></app-date-input>
      <app-date-input
        [inputID]="'HiringDate'"
        [formControl]="employeeDetailsForm.controls['HiringDate']"
        [label]="'Hiring date'"
      ></app-date-input>
      <app-select-input
        [inputID]="'EmploymentType'"
        [formControl]="employeeDetailsForm.controls['EmploymentType']"
        [label]="'Employment Type'"
        [listItems]="employmentTypes"
      ></app-select-input>
      <div class="employee-skillset-container">
        <div class="skill-set-details">
          <div class="title-styles">
            <h5>Employee's current skillset</h5>
          </div>
          <div>
            <button class="btn btn-info" type="button" (click)="addNewSkill()">
              Add new skill
            </button>
          </div>
        </div>
        <div class="results-table-styles">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="employeeSkills.length == 0">
                <td class="text-center" colspan="5">Employee has no skills</td>
              </tr>
              <ng-container *ngIf="employeeSkills.length > 0">
                <tr *ngFor="let skill of employeeSkills; let i = index">
                  <td>{{ skill.skill.title }}</td>
                  <td>{{ getSkillType(skill.skill.type) }}</td>
                  <td>
                    <button
                      class="btn btn-primary employee-action-button"
                      type="button"
                      (click)="removeSkill(i)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="results-grid-styles">
          <div class="text-center" *ngIf="employeeSkills.length == 0">
            Employee has no skills
          </div>
          <div class="row" *ngIf="employeeSkills.length > 0">
            <div
              class="col-sm-6 col-xs-12 padding-col-styles"
              *ngFor="let skill of employeeSkills"
            >
              <div class="card card-list-item">
                <div class="card-header">
                  {{ skill.skill.title }}
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">
                    Type {{ getSkillType(skill.skill.type) }}
                  </h6>
                  <button
                    (click)="removeSkill(i)"
                    type="button"
                    class="btn btn-link remove-link"
                  >
                    Remove skill
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <button
          [disabled]="!employeeDetailsForm.valid"
          class="btn btn-success submit-button-styles"
          type="submit"
        >
          {{ buttonTitle }}
        </button>
        <button
          *ngIf="!isNewEmployee"
          class="btn btn-danger submit-button-styles ml-4"
          type="button"
          (click)="deleteEmployee()"
        >
          Delete Employee
        </button>
      </div>
    </form>
  </div>
</div>
